<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="Http.Prefix" value="http://+:8080/" />
    <add key="Http.McpPath" value="/mcp" />

    <add key="Historian.Server" value="localhost" />
    <add key="Historian.Database" value="Runtime" />
    <add key="Historian.User" value="aaUser" />
    <add key="Historian.Password" value="aaPassword" />
    <add key="Historian.CommandTimeoutSeconds" value="60" />
    <add key="Historian.ExtraConnectionOptions" value="Encrypt=False;TrustServerCertificate=True" />
    <add key="Historian.TimesAreUtc" value="false" />

    <add key="Limits.MaxRows" value="5000" />
    <add key="Output.Format" value="compact" />

    <add key="Log.Directory" value="logs" />
    <add key="Log.FilePrefix" value="mcp-server" />
    <add key="Log.RotationHours" value="6" />
    <add key="Log.RetentionDays" value="7" />
    <add key="Log.MinLevel" value="INFO" />
  </appSettings>
</configuration>
